<div class="animated fadeIn">
    <div class="row" style="margin-top:1px;">
        <div class="col-sm-6"> 
            <div class="card">     
              <div class="row " style="margin-top:50px; margin-bottom:50px; margin-left:10px; font-family: 'Times New Roman', Times, serif;color:#00bfff;">
                  <div class="h2 text-muted col-sm-1">
                      <i class="icon-magnifier"></i>
                    </div> 
                      <div class="col-sm-10 form-group form-inline" >
  
                          <select class="form-control control-inline"  #t (change)="callType(t.value)">
                            <option value="Client Name">Client Name </option>
                            <option value="Portfolio Name">Portfolio Name</option>
                            <option value ="Project Type">Project Type</option>
  
                          </select>
                      <input  type="text" id="cname"  class="form-control" [(ngModel)]="cname" placeholder="Search" (keyup)="search()" style="width:70%">
  
  
                    </div>
                    Found {{this.searchLength}} Results
  
              </div>
            </div>
          </div>

      <div class="col-sm-2">
        <div class="card">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="icon-layers"></i>
            </div>
            <div class="h4 mb-0">{{this.projectsDone}}  % </div>
            <small class="text-muted text-uppercase font-weight-bold">Done Tasks for all projects</small>
            <div class="progress progress-xs mt-3 mb-0">
              <div class="progress-bar bg-danger" role="progressbar" [style.width]="this.projectsDone + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-sm-2 col-md-2">
        <div class="card">
          <div class="card-body text-center">
            <div class="h1 text-muted text-right mb-4">
              <i class="icon-speedometer"></i>
            </div>
            <div class="h4 mb-0">{{this.remainingDays}}</div>
            <small class="text-muted text-uppercase font-weight-bold">Avg. Days</small>
            <div class="progress progress-xs mt-3 mb-0">
              <div class="progress-bar bg-success" role="progressbar"[style.width]="this.daysPercentag + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-2 ">
        <div class="card">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="icon-speech"></i>
            </div>
          <div class="h4 mb-0 ">{{this.openProjects}}   </div>
          <small class="text-muted text-uppercase font-weight-bold ">Open Projects </small>
            <div class="progress progress-xs mt-3 mb-0">
              <div class="progress-bar bg-danger" role="progressbar" [style.width]="this.openProjectPercentage + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div><!--/.col-->


     
    </div>
  </div>
 
  <div class="row box box-animated" style="margin-left:1%; height:100%; max-width:98%; background-color:#fafafa">
    <div  #graphviewer id=graphviewer style="height:9 00px; width:100%; position:relative"> </div>
  </div>