<div class="animated fadeIn">
    <div class="row" style="margin-top:1px;">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="icon-people"></i>
            </div>
            <div class="h4 mb-0">87.500</div>
            <small class="text-muted text-uppercase font-weight-bold">Visitors</small>
            <div class="progress progress-xs mt-3 mb-0">
              <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body text-center">
            <div class="h1 text-muted text-right mb-4">
              <i class="icon-speedometer"></i>
            </div>
            <div class="h4 mb-0">5:34:11</div>
            <small class="text-muted text-uppercase font-weight-bold">Avg. Time</small>
            <div class="progress progress-xs mt-3 mb-0">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-sm-3">
        <div class="card ">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4 ">
              <i class="icon-speech"></i>
            </div>
            <div class="h4 mb-0 ">972</div>
            <small class="text-muted text-uppercase font-weight-bold ">Comments</small>
            <div class="progress progress-xs mt-3 mb-0 ">
              <div class="progress-bar bg-info " role="progressbar " style="width: 25% " aria-valuenow="25" aria-valuemin="0 " aria-valuemax="100 "></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" >
      <div class="col-sm-6"> 
          <div class="card">     
            <div class="row" style="margin-top:12px; margin-left:10px;">
                <div class="h2 text-muted col-sm-1">
                    <i class="icon-magnifier"></i>
                  </div> 
                    <div class="col-sm-10 form-group form-inline">
                        
                        <select class="form-control control-inline"  #t (change)="callType(t.value)">
                          <option value="Client Name">Client Name </option>
                          <option value="Portfolio Name">Portfolio Name</option>
                          <option value ="Project Type">Project Type</option>

                        </select>
                    <input  type="text" id="cname"  class="form-control" [(ngModel)]="cname" placeholder="Search" (keyup)="search()" style="width:70%">
                   
                  </div>
            </div>
          </div>
        </div>
  </div>
  <div class="row box box-animated" style="margin-left:1%; height:100%; max-width:98%; background-color:#fafafa">
    <div  #graphviewer id=graphviewer style="height:9 00px; width:100%; position:relative"> </div>
  </div>